.nav-bar {
  height: var(--bar-height);
  width: 100%;
  border-bottom: 1px solid var(--basic-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 1;
  .button-logo {
    margin: 0.3rem;
    width: 5rem;
    background-color: transparent;
    border: none;
    transition: all 0.2s;
    &:active {
      transform: scale(0.96);
    }
    .logo {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
