.nav {
  height: var(--bar-height);
  width: 100%;
  max-width: var(--max-width);
  border-bottom: 2px solid var(--basic-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 1;
  padding: 0 0.6rem;

  .button-logo {
    width: 6rem;
    background-color: transparent;
    border: none;
    overflow: hidden;
    &:active {
      transform: scale(0.96);
    }
    .logo {
      width: 100%;
    }
    @media (min-width: 768px) {
      width: 8rem;
    }
    @media (orientation: landscape) and (min-width: 992px) {
      width: 7rem;
    }
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    .show-menu-button {
      @media (min-width: 768px) {
        font-size: 2rem;
      }
      @media (orientation: landscape) and (min-width: 992px) {
        display: none;
      }
    }
    .favourites-button {
      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
  }
  @media (orientation: landscape) and (min-width: 992px) {
    .button-logo {
      cursor: pointer;
    }
  }
}
