@keyframes enter {
  from {
    opacity: 0.1;
    transform: translateY(0.1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: enter 0.5s linear;
  padding: 0 0.3rem;
  .return {
    margin: 0;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
  .form {
    width: 85%;
    height: 2.2rem;
    // margin-right: 0.3rem;
    .input {
      width: 100%;
      height: 100%;
      font-size: 1rem;
      border: 2px solid var(--basic-color);
      &:focus::placeholder {
        transform: translateX(-100%);
        transition: 0.4s;
      }
    }
  }
}
.desktop {
  display: none;
  @media screen and (min-width: 992px) {
    display: flex;
    width: 75%;
    .form {
      width: 100%;
    }
  }
}
