@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html {
  font-size: 20px;
}

:root {
  --basic-color: #73ba82;
  --bar-height: 80px;
  --main-font: "Montserrat", "arial", sans-serif;
}

body {
  min-width: 320px;
  max-width: 1600px;
  // margin: 0 auto;
}
