@mixin page-card($padding: 0rem) {
  padding: $padding;
  padding-top: calc(var(--bar-height) + $padding);
  // min-height: 100vh;
}

@mixin titles($font-size: 1.2rem, $font-weight: 400, $text-align: center) {
  font-size: $font-size;
  font-weight: $font-weight;
  text-transform: uppercase;
  text-align: $text-align;
  margin: 0.8rem 0;
}
