@import "../../styles/mixins.scss";
.div {
  @include result-favourites-card(0.5rem);
  .h1 {
    @include result-favourites-titles();
  }
  .p {
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
  }
}
