@import "../../styles/mixins.scss";

.main {
  @include page-card();
  .h1 {
    @include titles();
  }
  .card-container {
    // border: 2px dotted red;
    width: 100%;
    overflow-x: auto;
    display: flex;
    .list {
      display: flex;
      list-style: none;
    }
  }
}
