@import "../../styles/mixins.scss";

@keyframes slide {
  0% {
    left: 90vw;
    opacity: 0;
  }
  10% {
    opacity: 0.15;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0.15;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

.div {
  --expander-dimensions: 3rem;
  @include page-card();
  .h1 {
    @include titles();
  }
  .card-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    .list {
      display: flex;
      list-style: none;
      position: relative;
      .hand {
        position: absolute;
        font-size: 3rem;
        color: #ffffff;
        top: 50%;
        left: 90vw;
        z-index: 3;
        opacity: 0;
        animation: slide 0.7s linear 0.3s 2 forwards;
        @media (orientation: landscape) {
          animation: none;
        }
      }
      @media screen and (min-width: 992px) {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid var(--basic-color);
      }
    }
  }
  .expander {
    position: fixed;
    top: var(-bar-height);
    margin: 0.1rem;
    left: 0.2rem;
    font-size: 2.3rem;
    width: var(--expander-dimensions);
    height: var(--expander-dimensions);
    z-index: 1;
    background-color: #fff;
    &:active {
      transform: scale(1);
    }
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
  .menu {
    position: absolute;
    top: calc(var(--expander-dimensions) + 2px);
    background-color: #fff;
    left: 0;
    width: 100%;
    transform: scaleY(0%);
    transform-origin: top;
    transition: 0.25s;
    box-shadow: 0 0 2px 1px var(--basic-color);
    border-bottom-left-radius: var(--btn-ctrl-radius);
    border-bottom-right-radius: var(--btn-ctrl-radius);
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;

    @media (orientation: landscape) {
      height: 100%;
      width: auto;
      left: 100%;
      top: 0;
      flex-wrap: nowrap;
      border-top-right-radius: var(--btn-ctrl-radius);
      border-bottom-left-radius: 0;
      transform: scaleX(0%);
      transform-origin: left;
      display: flex;
      align-items: center;
    }
  }
  .menu-desktop {
    display: none;
    @media screen and (min-width: 992px) {
      list-style: none;
      display: flex;
      cursor: pointer;
      li {
        color: var(--basic-color);
        &:hover {
          color: green;
        }
        p {
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          svg {
            font-size: 2rem;
          }
        }
      }
    }
    @media screen and (min-width: 1200px) {
      li {
        p {
          font-size: 0.9rem;
          svg {
            font-size: 2.1rem;
          }
        }
      }
    }
  }
  .--roll-out {
    opacity: 1;
    transform: scaleY(100%);
    @media (orientation: landscape) {
      transform: scaleX(100%);
    }
  }
  .--clicked {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    @media (orientation: landscape) {
      border-bottom-left-radius: var(--btn-ctrl-radius);
      border-top-right-radius: 0px;
    }
  }
}
