@import "../../styles/mixins.scss";

.main {
  --expander-dimensions: 2.5rem;
  @include page-card();
  .h1 {
    @include titles();
  }
  .card-container {
    // border: 2px dotted red;
    width: 100%;
    overflow-x: auto;
    display: flex;
    .list {
      display: flex;
      list-style: none;
    }
  }
  .expander {
    position: fixed;
    top: var(-bar-height);
    left: 0;
    width: var(--expander-dimensions);
    height: var(--expander-dimensions);
  }
  .menu {
    position: absolute;
    top: var(--expander-dimensions);
    background-color: #fff;
    border-radius: 0.4rem;
    left: 0;
    width: 100%;
    transform: scaleY(0%);
    transform-origin: top;
    transition: 0.25s;
  }
  .roll-out {
    transform: scaleY(100%);
  }
}
