@import "../../styles/mixins.scss";
.sub-title {
  font-size: 1rem;
  width: 100%;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  & svg {
    font-size: 1.3rem;
    margin: 0 0.2rem;
  }
  @media screen and (min-width: 992px) {
    font-size: 1.4rem;
    & svg {
      font-size: 1.8rem;
      margin: 0 0.4rem;
    }
  }
}
.segment {
  margin-top: 0.3rem;
}
.div {
  @include page-card();
  display: flex;
  flex-wrap: wrap;
  .h1 {
    @include titles(1.1rem, 600, left);
  }
  .img {
    width: 100%;
    margin: 0 auto;
  }
  .ready-time {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    color: #aaa;
    padding: 0.1rem;
    width: 100%;
    & svg:nth-of-type(2) {
      margin-left: 1rem;
    }
    .value {
      font-size: 0.9rem;
    }
  }
  .ingredients {
    background-color: #ffc2c2;
    width: 100%;
    .ul {
      list-style: circle;
      padding: 0.2rem;
      font-size: 0.8rem;
      margin: 0 0.9rem;
    }
  }
  .--not-missing {
    background-color: inherit;
    background-color: var(--basic-color);
  }
  .instructions {
    font-size: 0.9rem;
    width: 100%;
    p {
      max-width: 100%;
    }
    img {
      max-width: 100%;
    }
    ol {
      margin: 0 1rem;
      list-style: decimal;
      li {
        margin-bottom: 0.3rem;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .img {
      width: 80%;
    }
    .ready-time {
      font-size: 1.5rem;
      padding: 0.2rem;
      .value {
        font-size: 1.1rem;
      }
    }
    .ingredients {
      .ul {
        list-style: circle;
        padding: 0.4rem;
        font-size: 1rem;
        margin: 0.8rem 1.2rem;
      }
    }
    .instructions {
      font-size: 1rem;
      ol {
        margin: 0 1.6rem;
        li {
          margin-bottom: 0.6rem;
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .img {
      width: 60%;
    }
  }
}
