.button {
  background-color: transparent;
  border: none;
  box-shadow: 0 0 2px 1px var(--basic-color);
  border-radius: var(--btn-ctrl-radius);
  margin: 0.3rem;
  padding: 0.3rem;
  transition: all 0.2s;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  &:active {
    background-color: #eee;
    transform: scale(0.98);
  }
}
