.div {
  --div-img-width: 8rem;
  --img-height: calc((3 * var(--div-img-width)) / 4);
  width: var(--div-img-width);
  border-radius: 1rem;
  background-color: var(--basic-color);
  position: relative;
  justify-self: center;
  transition: 0.2s;
  .img {
    width: var(--div-img-width);
    height: var(--img-height);
    object-fit: cover;
    border-radius: 1rem;
  }
  .button {
    position: absolute;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 50%;
    top: 0;
    right: 0;
    z-index: 1;
    &:active {
      background-color: rgba(0, 0, 0, 0);
      transform: scale(0.98);
    }
  }
  .h1 {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    color: #fff;
    padding: 0.2rem;
    @media (orientation: portrait) and (min-width: 768px) {
      font-size: 0.9rem;
    }
    @media (orientation: landscape) and (min-width: 992px) {
      font-size: 0.9rem;
    }
  }
  @media (orientation: portrait) and (min-width: 768px) {
    --div-img-width: 9rem;
  }
  @media (orientation: landscape) and (min-width: 992px) {
    --div-img-width: 9.5rem;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 0.6rem 0 var(--basic-color);
    }
  }
}
