@keyframes onDisplay {
  from {
    transform-origin: 50% 50%;
    transform: scale(0);
  }
  to {
    transform-origin: 50% 50%;
    transform: scale(1);
  }
}

.div {
  flex-basis: 49%;
  border-radius: 1rem;
  background-color: var(--basic-color);
  margin-bottom: 0.2rem;
  position: relative;
  animation: onDisplay 0.3s linear;
  .img {
    width: 100%;
    border-radius: 1rem;
  }
  .button {
    position: absolute;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 50%;
    top: 0;
    right: 0;
    z-index: 1;
    &:active {
      background-color: rgba(0, 0, 0, 0);
      transform: scale(0.98);
    }
  }
  .h1 {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    color: #fff;
    padding: 0.2rem;
  }
}
