.div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .form {
    width: 85%;
    height: 2.2rem;
    .input {
      width: 100%;
      height: 100%;
      font-size: 1rem;
    }
  }
}
